#####################################################################
# 	Macro
#####################################################################
#
#   This section contains basic macros that needed in several other
#   files. Gettinging them all to a single place should help to only
#   use what needed without hunting down several other files.
#
#   All hear belongs somehow to screen or console output
#
#####################################################################
##  Clear display output after Duration in seconds  
##  Use: UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1
[delayed_gcode _CLEAR_DISPLAY]
gcode:
  M117

## Reset SD File after Print_END or CANCEL_PRINT
## This will avoid the reprint option in Mainsail after a print is done
[delayed_gcode _DELAY_SDCARD_RESET_FILE]
gcode:
  SDCARD_RESET_FILE
  
##  action_respond_info will be always executed at the befinning 
##  of an macro evaluation. Use _PRINT_AR if you need the order 
##  of several console outputs in the order given by the macro
##  Use: _PRINT_AR T="QGL forced by PRINT_START"
[gcode_macro _PRINT_AR]
description: Helper: Action response 
gcode:
  #####  set defaults  #####
  {% set show_lcd = params.SHOW_LCD|default('false') %}
  {% if show_lcd == 'true' %}
    M117 {'%s' % (params.T|string)}
  {% endif %}
  {action_respond_info("%s" % (params.T|string))}

##  print runout sensor information in any case even is no
##  runout is specified
[gcode_macro _RUNOUT_INFO]
description: Helper: Print runout sensor status
gcode:
  #############  Get hardware enables  #############
  {% set ena_runout = printer['gcode_macro _USER_VARIABLE'].runout|lower %}
  #############  Generate output varibles  #############
  {% if ena_runout == 'switch' %}
    {% set enabled = printer['filament_switch_sensor runout'].enabled|lower %}
    {% set sensor = 'Switch Sensor' %}
    {% if printer['filament_switch_sensor runout'].enabled|lower == 'true' %}
      {% set filament_detected = printer['filament_switch_sensor runout'].filament_detected|lower %}
    {% elif 'virtual_sdcard' in printer and filament_loaded in printer.save_variables.variables %}
      {% set filament_detected = printer.save_variables.variables.filament_loaded %}
    {% else %}
      {% set filament_detected = 'unknown' %}
    {% endif %}
  {% elif ena_runout == 'motion' %}
    {% set enabled = printer['filament_motion_sensor runout'].enabled|lower %}
    {% set sensor = 'Motion Sensor' %}
    {% if printer['filament_motion_sensor runout'].enabled|lower == 'true' %}
      {% set filament_detected = printer['filament_motion_sensor runout'].filament_detected|lower %}
    {% elif 'virtual_sdcard' in printer and filament_loaded in printer.save_variables.variables %}
      {% set filament_detected = printer.save_variables.variables.filament_loaded %}
    {% else %}
      {% set filament_detected = 'unknown' %}
    {% endif %}
  {% elif ena_runout == 'file' %}
    {% set filament_detected = printer.save_variables.variables.filament_loaded %}
    {% set enabled = 'false' %}
    {% set sensor = 'Stored in file' %}
  {% else %}
    {% set filament_detected = 'unknown' %}
    {% set enabled = 'false' %}
    {% set sensor = 'Not monitored' %}
  {% endif %}
  #############  End of definition  #############
  {action_respond_info("RUNOUT: %s
                        Enabled: %s
                        Detect Filament: %s" % (sensor, enabled|lower,filament_detected|lower))}

##  adds version info of mcu to M115
[gcode_macro M115]
description: Print host and mcu version
rename_existing: M115.1
gcode:
  {% set parameters = namespace(output = 'mcu build version: \n') %}
  {% for name1 in printer %}
    {% for name2 in printer[name1] %}
      {% set show = ['mcu_version'] %}
      {% if name2 is in show %}
        {% set param = "%s: %s" % (name1, printer[name1][name2]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {action_respond_info(parameters.output)}
  M115.1
