#####################################################################
#.  Display Menu definition                                         #
#####################################################################
#                  Removed Items of the Stock menu                  #
#####################################################################
##  Octoprint 
[menu __main __octoprint]
type: disabled

##  PreHeat
[menu __main __temp __preheat_pla]
type: disabled

[menu __main __temp __preheat_abs]
type: disabled

##  use own load and unload macro
[menu __main __filament __loadf]
type: disabled

[menu __main __filament __loads]
type: disabled

[menu __main __filament __unloadf]
type: disabled

[menu __main __filament __unloads]
type: disabled

##  Delta Calibration
[menu __main __setup __calib __delta_calib_auto]
type: disabled

[menu __main __setup __calib __delta_calib_man]
type: disabled

#####################################################################
#                  Overload Items of the Stock menu                 # 
#####################################################################
  
#####################################################################
#                   Added Items to the Stock menu                   #
#####################################################################
##  Add filament load and unload macro
[menu __main __filament __load]
type: command
name: Load Filament
gcode:
  FILAMENT_LOAD
  
[menu __main __filament __unload]
type: command
name: Unload Filament
gcode:
  FILAMENT_UNLOAD
    
## Probe & Endstop Z-Offset calibration
[menu __main __setup __calib __Z_offset]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Z offset

[menu __main __setup __calib __Z_offset __start]
type: input
enable: {not printer.idle_timeout.state == "Printing"}
name: Do {['None','Probe','Endstop'][menu.input|int]}
input: 0
input_min: 0
input_max: 2
input_step: 1
gcode:
    {%- if menu.event == 'long_click' -%}
      {menu.back()}
      {%- if menu.input|int == 1 -%}
        {action_respond_info("Start Probe calibration")}
        PROBE_CALIBRATE
      {%- elif menu.input|int == 2 -%}
        {action_respond_info(" Start Z-Endstop calibration")}
        Z_ENDSTOP_CALIBRATE
      {%- endif -%}
    {%- endif -%}

[menu __main __setup __calib __Z_offset __move_z]
type: input
name: Move Z: {'%03.2f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_step: 1
realtime: True
gcode:
    {%- if menu.event == 'change' -%}
        G1 Z{'%.2f' % menu.input}
    {%- elif menu.event == 'long_click' -%}
        G1 Z{'%.2f' % menu.input}
        SAVE_GCODE_STATE NAME=__move__axis
        G91
        G1 Z2
        G1 Z-2
        RESTORE_GCODE_STATE NAME=__move__axis
    {%- endif -%}

[menu __main __setup __calib __Z_offset __test_z]
type: input
name: Test Z: {['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
input: 5
input_min: 0
input_max: 11
input_step: 1
gcode:
    {%- if menu.event == 'long_click' -%}
        TESTZ Z={['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
    {%- endif -%}
    
[menu __main __setup __calib __Z_offset __test_z_live]
type: input
name: Test Z : {'%03.3f' % menu.input}
input: 0
input_min: -5.0
input_max: 5.0
input_step: 0.01
realtime: True
gcode:
    {%- if menu.event == 'long_click' -%}
       TESTZ Z={'%.3f' % menu.input}
    {%- endif -%}

[menu __main __setup __calib __Z_offset __accept]
type: command
name: Accept
gcode: ACCEPT

[menu __main __setup __calib __Z_offset __abort]
type: command
name: Abort
gcode: ABORT