#  SET_RETRACTION [RETRACT_LENGTH=<mm>] [RETRACT_SPEED=<mm/s>] [UNRETRACT_EXTRA_LENGTH=<mm>] [UNRETRACT_SPEED=<mm/s>]
#  SET_RETRACTION is commonly set as part of slicer per-filament configuration, as different filaments require different
#  parameter settings.
#  GET_RETRACTION Queries the current parameters used by firmware retraction and displays them on 
[firmware_retraction]
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated
retract_length: 0.75
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_extra_length: 0
retract_speed: 70
unretract_speed: 40

#####################################################################
# 	Macro
#####################################################################
[gcode_macro _FILAMENT_BALL]
default_parameter_WAIT: 0
gcode:
  SAVE_GCODE_STATE NAME=STATE_FILAMENT_BALL
  # Ball up the filament tip
  G92 E0       ; zero the extruder
  M82          ; absolute extrusion
  G1 E2 F3600
  G1 E0 F3600
  G1 E4 F3600
  G1 E0 F3600
  G1 E8 F3600
  G1 E0 F3600
  M83          ; relative extrusion
  G1 E-25 F3600
  G4 P{WAIT|int * 1000}
  RESTORE_GCODE_STATE NAME=STATE_FILAMENT_BALL

[gcode_macro FILAMENT_LOAD]
gcode:
  # store min extrution temp in variable
  {% set minTemp = printer.configfile.config["extruder"]["min_extrude_temp"] %}
  {% if printer.idle_timeout.state != "Printing" or printer.pause_resume.is_paused|lower == "true" %}
    SAVE_GCODE_STATE NAME=STATE_LOAD_FILAMENT
    ## Move to waste bin
    _CG28                 ; home if not already homed
    G90                   ; absolute positioning
    G0 X55 Y352 Z30 F9000 ; park nozzle at brush bin
    # check the Extruder temp is above minimum extrution temp
    {% set extruder_target = printer.extruder.target %}
    _LCD_KNOB COLOR=BLUE
    {% if printer.extruder.temperature|int < minTemp|int %}
      {action_respond_info("Extruder Temp to low heat to %2dC" % (minTemp|int + 30))}
      M109 S{minTemp|int + 30} ; heat extruder and wait
    {% endif %}
    _LCD_KNOB COLOR=RESTORE
    M83                   ; set extruder to relative
    G1 E90 F1800          ; quickly load 90mm filament
    G1 E50 F300           ; slower extrusion for hotend path
    G1 E-2 F1500          ; retract 
    SAVE_VARIABLE VARIABLE=filament_loaded VALUE='"true"'
    # clean nozzle
    _WIPE
    G0 Z30 F1800
    G0 X55 Y352 F9000 ; park nozzle at brush bin
    # restore old extruder temperature
    M109 S{extruder_target}
    _PRINT_AR T="RUNOUT Motion Sensor Enable: true"
    SET_FILAMENT_SENSOR SENSOR=runout ENABLE=1
    _PRINT_AR T="Filament loaded"
    RESTORE_GCODE_STATE NAME=STATE_LOAD_FILAMENT
  {% else %}
    _PRINT_AR T="Filament loading disabled while printing!"
  {% endif %}
 
[gcode_macro FILAMENT_UNLOAD]
default_parameter_DISTANCE: 75
gcode:
  # store min extrution temp in variable
  {% set minTemp = printer.configfile.config["extruder"]["min_extrude_temp"] %}
  {% if printer.idle_timeout.state != "Printing" or printer.pause_resume.is_paused|lower == "true" %}
    SAVE_GCODE_STATE NAME=STATE_UNLOAD_FILAMENT
    _PRINT_AR T="RUNOUT Motion Sensor Enable: false"
    SET_FILAMENT_SENSOR SENSOR=runout ENABLE=0
    _LCD_KNOB COLOR=BLUE
    # check the Extruder temp is above minimum extrution temp
    {% set extruder_target = printer.extruder.target %}
    {% if printer.extruder.temperature|int < minTemp|int %}
      {action_respond_info("Extruder Temp to low heat to %2dC" % (minTemp|int + 30))}
      M109 S{minTemp|int + 30} ; heat extruder and wait
    {% endif %}
    # Ball up the filament tip and retract out past the extruder gears
    _LCD_KNOB COLOR=RESTORE
    _FILAMENT_BALL WAIT=3
    M83 ; Relative extrusion
    G1 E{DISTANCE|float * -1} F3000
    M400
    SAVE_VARIABLE VARIABLE=filament_loaded VALUE='"false"'
    # restore old extruder temperature
    M109 S{extruder_target}
    _PRINT_AR T="Filament unloaded"
    RESTORE_GCODE_STATE NAME=STATE_UNLOAD_FILAMENT

  {% else %}
    _PRINT_AR T="Filament unloading disabled while printing!"
  {% endif %}

[gcode_macro _SELECT_PA]
default_parameter_NOZZLE: 0.4
default_parameter_FILAMENT: None
#####   Pressure Advance values for different filaments & nozzles #####
variable_pa_ESUN_ABS+_Black_0.4: 0.05
variable_pa_KVP_ABS_FL_Blue_0.4: 0.05
#######################################################################
gcode:
  {% set pa_var_name = ('pa_' + FILAMENT + '_' + NOZZLE)|lower %} 
  {% if pa_var_name in printer["gcode_macro _SELECT_PA"] %}
    {% set pa_val = printer["gcode_macro _SELECT_PA"][pa_var_name] %}
  {% else %}
    {% set pa_val = printer.configfile.settings['extruder'].pressure_advance %}
  {% endif %}
  SET_PRESSURE_ADVANCE ADVANCE={pa_val}
  {action_respond_info("PRESSURE_ADVANCE:
                        FILAMENT: %s 
                        NOZZLE: %1.1f
                        VALUE: %.4f" % (FILAMENT, NOZZLE|float, pa_val|float))}