#####################################################################
#  G Sensor definition
#####################################################################
[adxl345 rpiaccel]
##  The accelerometer axis for each of the printer's x, y, and z axes.
##  This may be useful if the accelerometer is mounted in an
##  orientation that does not match the printer orientation. For
##  example, one could set this to "y,x,z" to swap the x and y axes.
##  It is also possible to negate an axis if the accelerometer
##  direction is reversed (eg, "x,z,-y"). The default is "x,y,z".
##  receck
axes_map: x,-z,y
##  The SPI enable pin for the sensor. This parameter must be
##  provided.
cs_pin: rpi:None
##  The SPI speed (in hz) to use when communicating with the chip.
##  The default is 5000000.
#spi_speed: 5000000
##   These optional parameters allow one to customize the SPI settings
##   used to communicate with the chip.
#spi_bus:
#spi_software_sclk_pin:
#spi_software_mosi_pin:
#spi_software_miso_pin:

[resonance_tester]
probe_points:
     50,50,20
     50,300,20
    300,50,20
    300,300,20  
    175,175,20
#   A list of X,Y,Z coordinates of points (one point per line) to test
#   resonances at. At least one point is required. Make sure that all
#   points with some safety margin in XY plane (~a few centimeters)
#   are reachable by the toolhead.
accel_chip: adxl345 rpiaccel
#   A name of the accelerometer chip to use for measurements. If
#   adxl345 chip was defined without an explicit name, this parameter
#   can simply reference it as "accel_chip: adxl345", otherwise an
#   explicit name must be supplied as well, e.g. "accel_chip: adxl345
#   my_chip_name". Either this, or the next two parameters must be
#   set.
#accel_chip_x:
#accel_chip_y:
#   Names of the accelerometer chips to use for measurements for each
#   of the axis. Can be useful, for instance, on bed slinger printer,
#   if two separate accelerometers are mounted on the bed (for Y axis)
#   and on the toolhead (for X axis). These parameters have the same
#   format as 'accel_chip' parameter. Only 'accel_chip' or these two
#   parameters must be provided.
min_freq: 5
#   Minimum frequency to test for resonances. The default is 5 Hz.
max_freq: 120
#   Maximum frequency to test for resonances. The default is 120 Hz.
accel_per_hz: 75
#   This parameter is used to determine which acceleration to use to
#   test a specific frequency: accel = accel_per_hz * freq. Higher the
#   value, the higher is the energy of the oscillations. Can be set to
#   a lower than the default value if the resonances get too strong on
#   the printer. However, lower values make measurements of
#   high-frequency resonances less precise. The default value is 75
#   (mm/sec).
hz_per_sec: 1
#   Determines the speed of the test. When testing all frequencies in
#   range [min_freq, max_freq], each second the frequency increases by
#   hz_per_sec. Small values make the test slow, and the large values
#   will decrease the precision of the test. The default value is 1.0
#   (Hz/sec == sec^-2).

#####################################################################
#  G Sensor definition
#####################################################################
[input_shaper]
##   A frequency (in Hz) of the input shaper for X or Y axis. This is usually a
##   resonance frequency of X axis that the input shaper should suppress.
##   For more complex shapers, like 2- and 3-hump EI input shapers, this
##   parameter can be set from different considerations.
##   The default value is 0, which disables input shaping for X or Y axis.
shaper_freq_x: 0
shaper_freq_y: 0
##   A type of the input shaper to use for both X and Y axes. Supported shapers
##   are zv, mzv, zvd, ei, 2hump_ei, and 3hump_ei.
##   The default is mzv input shaper.
#shaper_type: mzv
##   Damping ratios of vibrations of X and Y axes used by input shapers to
##   improve vibration suppression. Should not be changed without some proper
##   measurements, e.g. with an accelerometer.
##   Default value is 0.1 which is a good all-round value for most printers.
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1

#####################################################################
#  Macros
#####################################################################
[gcode_macro resonance_test]
gcode:
		# Set variables for axis centers
		{% set midx = printer.configfile.config.stepper_x.position_max|float / 2 %}
		{% set midy = printer.configfile.config.stepper_y.position_max|float / 2 %}

		G28
		TEST_VIBRATIONS X={ midx } Y={ midy } Z=20 AXIS=X FREQ_START=10 FREQ_END=100 FREQ_STEP=0.5 OUTPUT=/tmp/vib-x.csv
		TEST_VIBRATIONS X={ midx } Y={ midy } Z=20 AXIS=Y FREQ_START=10 FREQ_END=100 FREQ_STEP=0.5 OUTPUT=/tmp/vib-y.csv
		TEST_VIBRATIONS X={ midx } Y={ midy } Z=20 VIB_X=1 VIB_Y=1  FREQ_START=10 FREQ_END=100 FREQ_STEP=0.5 OUTPUT=/tmp/vib-b.csv
		TEST_VIBRATIONS X={ midx } Y={ midy } Z=20 VIB_X=-1 VIB_Y=1  FREQ_START=10 FREQ_END=100 FREQ_STEP=0.5 OUTPUT=/tmp/vib-a.csv


[gcode_macro vibration_test]
gcode:
		# Set variables for axis centers
		{% set midx = printer.configfile.config.stepper_x.position_max|float / 2 %}
		{% set midy = printer.configfile.config.stepper_y.position_max|float / 2 %}

		# Store the user's intial input_shaper frequency parameters
		{% set initShapeX = printer.configfile.config.input_shaper.shaper_freq_x %}
		{% set initShapeY = printer.configfile.config.input_shaper.shaper_freq_y %}

		G28
		#X Vibration - With Input Shaper
		G1 X{ midx - 25 } Y{ midy } Z20
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=3200 OUTPUT=/tmp/accel-x-input-shaper.csv
		G1 X{ midx + 25 } Y{ midy } F6000
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=0 OUTPUT=/tmp/accel-x-input-shaper.csv

		#Y Vibration - With Input Shaper
		G1 X{ midx } Y{ midy  - 25 } Z20
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=3200 OUTPUT=/tmp/accel-y-input-shaper.csv
		G1 X{ midx } Y{ midy + 25 } F6000
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=0 OUTPUT=/tmp/accel-y-input-shaper.csv

		#B Vibration - With Input Shaper
		G1 X{ midx - 25 } Y{ midy - 25 } Z20
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=3200 OUTPUT=/tmp/accel-b-input-shaper.csv
		G1 X{ midx + 25 } Y{ midy + 25 } F6000
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=0 OUTPUT=/tmp/accel-b-input-shaper.csv
		
		#A Vibration - With Input Shaper
		G1 X{ midx + 25 } Y{ midy - 25 } Z20
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=3200 OUTPUT=/tmp/accel-a-input-shaper.csv
		G1 X{ midx - 25 } Y{ midy + 25 } F6000
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=0 OUTPUT=/tmp/accel-a-input-shaper.csv
		
		SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0
		
		#X Vibration - Stock
		G1 X{ midx - 25 } Y{ midy } Z20
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=3200 OUTPUT=/tmp/accel-x-stock.csv
		G1 X{ midx + 25 } Y{ midy } F6000
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=0 OUTPUT=/tmp/accel-x-stock.csv

		#Y Vibration - Stock
		G1 X{ midx } Y{ midy - 25 } Z20
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=3200 OUTPUT=/tmp/accel-y-stock.csv
		G1 X{ midx } Y{ midy + 25 } F6000
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=0 OUTPUT=/tmp/accel-y-stock.csv

		#B Vibration - Stock
		G1 X{ midx - 25 } Y{ midy - 25 } Z20
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=3200 OUTPUT=/tmp/accel-b-stock.csv
		G1 X{ midx + 25 } Y{ midy + 25 } F6000
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=0 OUTPUT=/tmp/accel-b-stock.csv
		
		#A Vibration - Stock
		G1 X{ midx + 25 } Y{ midy - 25 } Z20
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=3200 OUTPUT=/tmp/accel-a-stock.csv
		G1 X{ midx - 25 } Y{ midy + 25 } F6000
		M400
		G4 P300
		ACCELEROMETER_MEASURE CHIP=rpiaccel RATE=0 OUTPUT=/tmp/accel-a-stock.csv

		# Restore user's input shaper frequency parameters
		SET_INPUT_SHAPER SHAPER_FREQ_X={ initShapeX } SHAPER_FREQ_Y={ initShapeY }
