#####################################################################
#  Macros
#####################################################################
#
# You can specify the park_pos variable manually if you do not want 
# to use a _USER_VARIABLE macro, The set statement would look like:
# {% set park_pos = [x_val,y_val,z_val] %}
# e.g.
# {% set park_pos = [175,172,30.5] %}
#
#####################################################################
[gcode_macro PARKFRONT]
description: Park head front high
gcode:
  ##### Get user defines #####
  {% set park_pos = printer['gcode_macro _USER_VARIABLE'].park_front %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARK
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_pos[0]} Y{park_pos[1]} Z{park_pos[2]} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARK
  
[gcode_macro PARKFRONTLOW]
description: Park head front low
gcode:
  ##### Get user defines #####
  {% set park_pos = printer['gcode_macro _USER_VARIABLE'].park_frontlow %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARK
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_pos[0]} Y{park_pos[1]} Z{park_pos[2]} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARK
   
[gcode_macro PARKREAR]
description: Park head rear high
gcode:
  ##### Get user defines #####
  {% set park_pos = printer['gcode_macro _USER_VARIABLE'].park_rear %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARK
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_pos[0]} Y{park_pos[1]} Z{park_pos[2]} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARK
   
[gcode_macro PARKCENTER]
description: Park head middle of printer
gcode:
  ##### Get user defines #####
  {% set park_pos = printer['gcode_macro _USER_VARIABLE'].park_center %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARK
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_pos[0]} Y{park_pos[1]} Z{park_pos[2]} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARK
   
[gcode_macro PARKBED]
description: Park head middle of bed low
gcode:
  ##### Get user defines #####
  {% set park_pos = printer['gcode_macro _USER_VARIABLE'].park_bed %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARK
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_pos[0]} Y{park_pos[1]} Z{park_pos[2]} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARK
  
#####################################################################
#                   Added Items to the Stock menu                   #
#####################################################################
[menu __main __control __park_pos]
type: input
enable: {not printer.idle_timeout.state == "Printing"}
index: 0
name: Positon: {['Bed','Center','Rear','Front', FrontLow][menu.input|int]}
input: 0
input_min: 0
input_max: 4
gcode:
    {%- if menu.event == 'long_click' -%}
      {%- if menu.input|int == 1 -%}
        PARKCENTER
      {%- elif menu.input|int == 2 -%}
        PARKREAR
      {%- elif menu.input|int == 3 -%}
        PARKFRONT
      {%- elif menu.input|int == 4 -%}
        PARKFRONTLOW
      {%- else -%}
        PARKBED
      {%- endif -%}
    {%- endif -%}
