#####################################################################
#  Macros
#####################################################################
[gcode_macro PARKFRONT]
description: Park head front high
gcode:
  ##### Get printer defines #####
  {% set min_y = printer.toolhead.axis_minimum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  ##### Get user defines #####
  {% set park_x = printer['gcode_macro _USER_VARIABLE'].center_x %}
  {% set z_max_delta = printer['gcode_macro _USER_VARIABLE'].z_max_delta|float %}
  {% set boarder_delta = printer['gcode_macro _USER_VARIABLE'].boarder_delta|float %}
  ##### calc park pos #####
  {% set park_y = min_y + boarder_delta %}
  {% set park_z = max_z - z_max_delta %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKFRONT
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARKFRONT
  
[gcode_macro PARKFRONTLOW]
description: Park head front low
gcode:
  ##### Get printer defines #####
  {% set min_y = printer.toolhead.axis_minimum.y|float %}
  ##### Get user defines #####
  {% set park_x = printer['gcode_macro _USER_VARIABLE'].center_x %}
  {% set park_z = printer['gcode_macro _USER_VARIABLE'].z_min_delta %}
  {% set boarder_delta = printer['gcode_macro _USER_VARIABLE'].boarder_delta|float %}
  ##### calc park pos #####
  {% set park_y = min_y + boarder_delta %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKFRONTLOW
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARKFRONTLOW
   
[gcode_macro PARKREAR]
description: Park head rear high
gcode:
  ##### Get needed max/min/delta #####
  {% set min_x = printer.toolhead.axis_minimum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  ##### Get user defines #####
  {% set boarder_delta = printer['gcode_macro _USER_VARIABLE'].boarder_delta|float %}
  {% set z_max_delta = printer['gcode_macro _USER_VARIABLE'].z_max_delta|float %}
  ##### calc park pos #####
  {% set park_x = min_x + boarder_delta %}
  {% set park_y = max_y - boarder_delta %}
  {% set park_z = max_z - z_max_delta %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKREAR
  _CG28 ; Home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARKREAR
   
[gcode_macro PARKCENTER]
description: Park head middle of printer
gcode:
  ##### Get user defines #####
  {% set park_x = printer['gcode_macro _USER_VARIABLE'].center_x %}
  {% set park_y = printer['gcode_macro _USER_VARIABLE'].center_y %}
  {% set park_z = printer['gcode_macro _USER_VARIABLE'].center_z %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKCENTER
  _CG28 ; Home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARKCENTER
   
[gcode_macro PARKBED]
description: Park head middle of bed low
gcode:
  ##### Get user defines #####
  {% set park_x = printer['gcode_macro _USER_VARIABLE'].center_x %}
  {% set park_y = printer['gcode_macro _USER_VARIABLE'].center_y %}
  {% set park_z = printer['gcode_macro _USER_VARIABLE'].z_min_delta|float %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKBED
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F18000
  RESTORE_GCODE_STATE NAME=STATE_PARKBED
  
#####################################################################
#                   Added Items to the Stock menu                   #
#####################################################################
[menu __main __control __park_pos]
type: input
enable: {not printer.idle_timeout.state == "Printing"}
index: 0
name: Positon: {['Bed','Center','Rear','Front', FrontLow][menu.input|int]}
input: 0
input_min: 0
input_max: 4
gcode:
    {%- if menu.event == 'long_click' -%}
      {%- if menu.input|int == 1 -%}
        PARKCENTER
      {%- elif menu.input|int == 2 -%}
        PARKREAR
      {%- elif menu.input|int == 3 -%}
        PARKFRONT
      {%- elif menu.input|int == 4 -%}
        PARKFRONTLOW
      {%- else -%}
        PARKBED
      {%- endif -%}
    {%- endif -%}
