#####################################################################
#  Idle Timeout 
#####################################################################
[idle_timeout]
gcode:
 {action_respond_info("POWER: Execute Idle Timeout")}
 TURN_OFF_HEATERS
 UPDATE_DELAYED_GCODE ID=_DELAY_HEATER_OFF DURATION=10
 UPDATE_DELAYED_GCODE ID=_DELAY_PSU_OFF DURATION=20
# 2h timeout
timeout: 7200

#####################################################################
#  Safety Relay extruder
#####################################################################
## Use a pin to switch on a relay for the Extruder heater
## if klipper is active
##
## XYE board, UPWR_DET_PIN Connector
[output_pin extruder_relay]
## negativ logic
pin: !P1.0
pwm: false
shutdown_value: 0
value: 1

#####################################################################
#  Safety Relay heater_bed
#####################################################################
## Use a pin to switch on a relay for the  heater_bed
## if klipper is active
##
## Z board, UPWR_DET_PIN Connector
[output_pin heater_bed_relay]
## negativ logic
pin: !z:P1.0
pwm: false
shutdown_value: 0
value: 1

#####################################################################
# 	Macro
#####################################################################
# switch on moonraker bed relay at klipper start
[delayed_gcode _INIT_MOONRAKER_BED]
initial_duration: 1
gcode:
  {action_call_remote_method("set_device_power",
                             device="bed",
                             state="on")}
                             
[gcode_macro _PSU_OFF]
gcode:
  {action_respond_info("POWER: 24V PS power off")}
  {action_call_remote_method("set_device_power",
                             device="psu",
                             state="off")}
                             
[delayed_gcode _DELAY_PSU_OFF]
gcode:
  {% if printer.idle_timeout.state != "Printing" %}
    _PSU_OFF
  {% endif %}

[gcode_macro _BED_OFF]
gcode:
  {%if printer['output_pin heater_bed_relay'].value == 1 %}  
    {action_respond_info("POWER: heater_bed power off")}
    SET_PIN PIN=heater_bed_relay VALUE=0
  {% endif %}
  {action_call_remote_method("set_device_power",
                             device="bed",
                             state="off")}
                                                       
[gcode_macro _BED_ON]
gcode:
  {%if printer['output_pin heater_bed_relay'].value == 0 %}
    {action_respond_info("POWER: heater_bed power on")}
    SET_PIN PIN=heater_bed_relay VALUE=1
  {% endif %}
  {action_call_remote_method("set_device_power",
                             device="bed",
                             state="on")}
                             
[gcode_macro _EXTRUDER_OFF]
gcode:
  {%if printer['output_pin extruder_relay'].value == 1 %}
    {action_respond_info("POWER: extruder power off")}
    SET_PIN PIN=extruder_relay VALUE=0
  {% endif %}
                             
[gcode_macro _EXTRUDER_ON]
gcode:
  {%if printer['output_pin extruder_relay'].value == 0 %}
    {action_respond_info("POWER: extruder power on")}
    SET_PIN PIN=extruder_relay VALUE=1
  {% endif %}
  
[gcode_macro _HEATER_ON]
gcode:
  _BED_ON
  _EXTRUDER_ON
            
[delayed_gcode _DELAY_HEATER_OFF]
gcode:
  {% if printer.idle_timeout.state != "Printing" %}
    _BED_OFF
    _EXTRUDER_OFF
  {% endif %}

#####################################################################
# 	LCD Menu & Macro to shutdown the PI
#####################################################################
[gcode_macro _SHUTDOWN_PI]
gcode:
  {action_call_remote_method("shutdown_machine")}

[gcode_macro PRINTER_OFF]
gcode:
  PARKBED
  M117 PI Off in 5 sec
  G4 P5000
  M400
  _SHUTDOWN_PI
  
## Power Off LCD Menu Item
[menu __main __power_off]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Power Off
index: 0
gcode:
    {menu.exit()}
    PRINTER_OFF          