#####################################################################
#  Probe
#####################################################################
############### Different Probe Settings ###############
##  Omron: 
##  speed: 10.0
##  samples: 9
##  samples_result: median
##  sample_retract_dist: 0.5
##  samples_tolerance: 0.006
##  samples_tolerance_retries: 10
########################################################
##  Super Pinda:
##  speed: 7.5
##  lift_speed: 30.0
##  samples: 6
##  samples_result: median
##  sample_retract_dist: 0.8
##  samples_tolerance: 0.005
##  samples_tolerance_retries: 10
############### Different Probe Settings ###############
[probe]
##  Inductive Probe
##  This probe is not used for Z height 
##  Only used for Quad Gantry Leveling and Bed Mesh
pin: ^z:P0.10
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 7.5
lift_speed: 30.0
samples: 6
samples_result: median
sample_retract_dist: 0.8
samples_tolerance: 0.005
samples_tolerance_retries: 10

#####################################################################
#  Disable Heater while probing
#####################################################################
#[homing_heaters]
#steppers: stepper_z, stepper_z1, stepper_z2, stepper_z3
#heaters: extruder

#####################################################################
#  Gantry Adjustment Routines
#####################################################################
[quad_gantry_level]
##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle  
##  to respective belt positions
gantry_corners:
	-56,-1
	406,420
##  Probe points
##  This are nozzel positions we need to substract the probe offset
points:
	100,50
	100,250
	250,250
	250,50
	
speed: 200
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.0025
max_adjust: 15

#####################################################################
#  Macros
#####################################################################
## customize QUAD GANTRY LEVEL gcode 
[gcode_macro QUAD_GANTRY_LEVEL]
description: Conform a moving, twistable gantry to the shape of a stationary bed
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
  ## reduce current of Z motors
  _SET_Z_CURRENT VAL=HOME
  {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}
  QUAD_GANTRY_LEVEL_BASE
  G28 Z
  _SET_Z_CURRENT
 
[delayed_gcode _CHECK_QGL]
gcode:
  # check that QGL ended with no error 
  {% if printer.quad_gantry_level.applied|lower == 'false' %}
    # stop print if QGL stopped with failuare
    {action_respond_info("CANCEL PRINT BECAUSE OF QGL ERROR")}
    CANCEL_PRINT
    _LCD_KNOB COLOR=RED BLINK=0.2
    G0 Z30 F1800
    G0 X175 Y175 F18000
  {% endif %}