#####################################################################
#  TMC Definitions of all steppers
#####################################################################
[tmc2209 stepper_x]
uart_pin: P1.10
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_y]
uart_pin: P1.9
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: z:P1.10
interpolate: true
run_current: 1.0
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z1]
uart_pin: z:P1.9
interpolate: true
run_current: 1.0
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z2]
uart_pin: z:P1.8
interpolate: False
interpolate: true
run_current: 1.0
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z3]
uart_pin: z:P1.4
interpolate: true
run_current: 1.0
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: P1.4
interpolate: false
# Afterburner
run_current: 0.6
hold_current: 0.6
# Galileo
#run_current: 0.33
#hold_current: 0.33
sense_resistor: 0.110
stealthchop_threshold: 0